<%- include("header") -%>
  <div class="container">
    
    <div class="login">
      
    <form action="/api/v1/users/login" method="post">
      <div class="container-header"><h2>Sign In to Your Account</h2></div>
      
      <div class=" input-container">
          <label for="">Email</label><br>
         <!-- <span class="email-icon"><i class="fa-regular fa-envelope"></i></span>  -->
            <input type="text " autocomplete="off" name="input" name="username" class="form-control glowing-border" placeholder="email or username"  required>
         
         
         </div>
          <div class=" input-container email-icon">
          <label for="">Password</label>
          <!-- <span class="email-icon"><i class="fa-solid fa-lock"></i></span> -->
          <input type="password" name="password" class="form-control glowing-border" required>
      </div>

      <button type="submit" class="btn">Sign In</button>
  </form>
</div>
     <div class="login-footer">
      <h2 >or continue with</h2>

      <div class="logo-line">
        <img  class="login-icon" src="\images\OIP.jfif" alt="Google Logo">
      <img class="login-icon" src="\images\facebook.jfif" alt="Facebook Logo">
       
      </div>
      <h3>Don't have an account <a href="register">Sign Up Here</a></h3>
    </div>
  </div>
</body>
</html>