<%- include("header",{user:user}) -%>
<body>
    

<div class="Publishcontainer">
    <div class="publish-container max-width-1" background-color="blue">
        <form action="/api/v1/post/updatePost/<%= postId %>" method="post" >
            <div class="form-group">
                <label for="publish-title">Title:</label>
                <input type="text" id="publish-title" name="title"   placeholder="Enter title..."  value="<%= blog.title %>">
            </div>
            <div class="form-group">
                <label for="publish-content">Content:</label>
                <textarea name="content" id="publish-content"   rows="10"><%=blog.content %></textarea>
            </div>
            <button type="submit" id="publish-btn" >save </button>
        </form>
        

   </div>
</div>
</body>
<script>
    document.querySelector("#publish-btn").onsubmit=async e=>{
        e.preventDefault()
    }
</script>
</html>
