* {
  margin: 0;
  padding: 0; 
}
.avatar{
  height:45px; 
  border-radius:50%; 
  width:45px;
  }
  


.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}
/* .home-articles{} */
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
#like-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: none;
  color: #007BFF;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1.5em;
}
.buttons{
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: none;
  
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1.5em;

}
#like-button i {
  margin-right: 5px;
}
#like-button.liked {
  color: #FF0000;
  transition: ease-in-out;
}
/* .like-button:hover {
  color: #0056b3;
} */

.footer a {
  color: white;
}
